<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />


    <f:section name="Head">

    </f:section>


    <f:section name="Main">

        <h1>{f:translate(key: 'module.title')}</h1>
        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:form action="save" name="shopwareConfig" method="post" class="form">

            <h2>{f:translate(key: 'module.api.title')}</h2>

            <div class="form-group">
                <label><f:translate key="module.apiUrl" />:</label>
                <f:form.textfield property="apiUrl" value="{shopwareConfig.apiUrl}"/>
            </div>

            <div class="form-group">
                <label><f:translate key="module.apiKey" />:</label>
                <f:form.textfield property="apiKey" value="{shopwareConfig.apiKey}"/>
            </div>

            <h2>{f:translate(key: 'module.adminApi.title')}</h2>

            <div class="form-group">
                <label><f:translate key="module.adminApiUrl" />:</label>
                <f:form.textfield property="adminApiUrl" value="{shopwareConfig.adminApiUrl}"/>
            </div>

            <div class="form-group">
                <label><f:translate key="module.adminApiAccessId" />:</label>
                <f:form.textfield property="adminApiAccessId" value="{shopwareConfig.adminApiAccessId}"/>
            </div>

            <div class="form-group">
                <label><f:translate key="module.adminApiAccessSecret" />:</label>
                <f:form.password property="adminApiAccessSecret" value="{shopwareConfig.adminApiAccessSecret}"/>
            </div>

            <f:form.submit value="{f:translate(key:'module.saveButton')}"
                           name="save" class="btn btn-default"/>
        </f:form>
    </f:section>
</html>
