<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:flashMessages as="flashMessages">
        <f:if condition="{flashMessages}">
            <div class="typo3-messages" role="alert">
                <f:for each="{flashMessages}" as="flashMessage">

                    <f:switch expression="{flashMessage.severity}">
                        <f:case value="-2"><f:variable name="status" value="dark" /></f:case>
                        <f:case value="-1"><f:variable name="status" value="info" /></f:case>
                        <f:case value="0"><f:variable name="status" value="success" /></f:case>
                        <f:case value="1"><f:variable name="status" value="warning" /></f:case>
                        <f:case value="2"><f:variable name="status" value="danger" /></f:case>
                    </f:switch>

                    <div class="alert alert-{status}">
                        <f:if condition="{flashMessage.title}"><p class="alert-title">{flashMessage.title}</p></f:if>
                        <p class="alert-message"><f:format.raw>{flashMessage.message}</f:format.raw></p>
                    </div>
                </f:for>
            </div>
        </f:if>
    </f:flashMessages>
</html>
