<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sc="http://typo3.org/ns/Madj2k/ShopwareConnector/ViewHelpers"
      data-namespace-typo3-fluid="true"
>
    <f:if condition="{categories}">
        <ul class="category-list level-{level}">
            <f:for each="{categories}" as="category">
                <f:if condition="{category.visible}">
                    <li class="category-item">
                        <label>
                            <f:variable name="checked" value="FALSE" />
                            <f:if condition="{activeCategories}">
                                <f:variable name="checked" value="{sc:inArray(needle: category.id, haystack: activeCategories)}" />
                            </f:if>

                            <f:form.checkbox
                                name="categories[]"
                                value="{category.id}"
                                checked="{checked}"
                            />
                            {category.translated.name}
                        </label>
                        <f:if condition="{category._children}">
                            <f:variable name="nextLevel" value="{level + 1}" />
                            <f:render partial="Category/Item"
                                      arguments="{categories: category._children, activeCategories: activeCategories, level: nextLevel}" />
                        </f:if>
                    </li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</html>
